# SQL Magic Connection Example

This notebook demonstrates how to use the `sql` IPython magic to connect to a database and run queries.

In [1]:
%load_ext sql
%sql mysql+pymysql://dev:devpass@db

Connecting to 'mysql+pymysql://dev:***@db'

In [2]:
%%sql
SHOW SCHEMAS

Running query in 'mysql+pymysql://dev:***@db'

3 rows affected.

+--------------------+
|      Database      |
+--------------------+
|        dev         |
| information_schema |
| performance_schema |
+--------------------+

In [3]:
%%sql 
create schema university

Running query in 'mysql+pymysql://dev:***@db'

RuntimeError: (pymysql.err.OperationalError) (1044, "Access denied for user 'dev'@'%' to database 'university'")
[SQL: create schema university]
(Background on this error at: https://sqlalche.me/e/20/e3q8)